.contenedor {
    background-image: url("../LandingPage/imagen/20098-perritos.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;    
    background-position-y: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 1fr 1fr 5vh;   
    box-sizing: content-box; 
}

.navbar:first-child {
    grid-column: 1/5;
}

.sidebar:nth-child(2) {
    grid-row: 2 / span 2;
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr;
}

.main:nth-child(3) {
    grid-column: 2 / span 3 ;
    grid-row: 2 / span 2;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh 36vh 36vh 5vh;   
}

.titulo:first-child {
    grid-column: 1 / 5;
    margin: 0;
}
/* implementar un tamaño fijo al grid */

.paginacion {
    grid-column: 1 / 5;
    margin: 0;
}

.footer:nth-child(4) {
    grid-column: 1/5
}

.select {
    background-color: aquamarine;
    width: 90%;
    height: 10vh;
    margin: auto;
    border-radius: 25px;
    text-align: center;
}

.link {
    text-decoration: none;
    box-sizing: border-box;
}

.card {
    display: grid;
    justify-items: center;
    max-height: 50vh;
}