.conteiner {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 5px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.card {
    background-color: rgb(124, 232, 117);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin: 2px;
    
}

.li{
    list-style: none;
}


.img img{
    background-color: aquamarine;
    height: 120px;
    background-size: cover;
    margin: auto;
    border-radius: 15px;
}

p {
    margin: 0;
}