.contain {
    /* background-color: rgb(105, 105, 105); */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 7%, rgba(82,141,195,1) 42%, rgba(0,212,255,1) 80%, rgba(0,197,240,1) 100%);
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: 5vh 10vh 0.8fr 10vh 5vh;   
    box-sizing: content-box; 
    background-size: cover;
    height: 100vh; 
    /* border: 1px solid black; */
}

.tittle:first-child {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    /* border: 1px solid black; */
}

.target:nth-child(2) {
    background-color: rgba(0,212,255,1);
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-radius: 25px;
}

.image:nth-child(3) { 
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    /* border: 1px solid black; */
}

.image img {
    border-radius: 25px;
    margin: auto;
    max-width: 60vh;
    object-fit: cover;
    padding-top: 0px;
    display: flex;
    justify-content: center;
}

.info:nth-child(4) {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.info h3 {
    margin: 10px;
    text-align: justify;
}
/* 
.bhome {
} */