.container{
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 19%, rgba(0,197,240,1) 23%, rgba(82,160,195,1) 35%, rgba(0,33,36,1) 97%);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;    
    background-position-y: center;
    display: grid;
    grid-template-columns: 0.5fr 1fr 30vh 1fr 0.5fr;
    grid-template-rows: 10vh 1fr 5vh 1fr 10vh;
}

.img1 {
    background-image: url('imagen/20089-perritos.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    object-fit: contain;
    border-radius: 5px;
}

.img2 {
    background-image: url('./imagen/20093-perritos.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    border-radius: 5px;
    object-fit: contain;
}

.img3 {
    background-image: url('./imagen/20098-perritos.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    border-radius: 5px;
    object-fit: contain;
}

.img4 {
    background-image: url('./imagen/20118-perritos.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    margin-bottom: 200px;
    border-radius: 5px;
    object-fit: contain;
}

.boton {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color:  rgba(0,197,240,1);
    border-radius: 15px;
}

button {
    background-color: rgba(0,212,255,1);
    border: none;
    border-radius: 15px;
}

.boton:hover {
    background-color: rgb(0, 160, 192);
}

button:hover {
    background-color: rgb(0, 123, 147);
    cursor: pointer;
}